@page "/admin"
@using Wiki.App.Services;

<h3>Admin</h3>

<CharacterList characters="characters"></CharacterList>
<AddItem AddCharacter="AddItem"></AddItem>

@code{
    private List<Character> characters = new List<Character>();

    [Inject]
    public IWikiClient wikiClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var res = await wikiClient.GetCharactersAsync();
        if (res is not null)
            characters = res.ToList();
    }

    private async Task AddItem(Character character)
    {
        if (character is null)
        {
            throw new ArgumentNullException(nameof(character));
        }

        var item = await wikiClient.PostAsync(character);

        if (item is null)
            throw new ArgumentNullException(nameof(item));

        characters.Add(item);
    }


}



