@page "/"
@using Wiki.App.Services;


<PageTitle>Wiki</PageTitle>
<div class="container">
    <div class="row"><h1>Index</h1></div>
    <div class="row">
        <div class="col">
            @foreach (Paragraph paragraph in paragraphs)
            {
                <TextBlock Header="@paragraph.Header" Body="@paragraph.Body"></TextBlock>
               @* <button @onclick="async () => await editItem(paragraph)" class="btn btn-primary">Edit</button>*@
                <NavLink class="nav-link" href=@($"admintext/{@paragraph.Id}")>Edit</NavLink>
            }
        </div>
    </div>
</div>


@code {
    private IEnumerable<Paragraph> paragraphs = new List<Paragraph>();


    [Inject]
    public IWikiClient wikiClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        paragraphs = await wikiClient.GetParagraphsAsync();

    }
}
