@page "/"

<PageTitle>Character Name</PageTitle>

<div class="container">
    <div class="row"><h1>Character</h1></div>
    <div class="row">
        <div class="col-9">
            <CharacterList></CharacterList>
            <QuoteCard></QuoteCard>
            <TextBlock></TextBlock>
            <TextBlock></TextBlock>
            <TextBlock></TextBlock>
        </div>
        <div class="col"><BasicInfoCard></BasicInfoCard></div>
    </div> 
</div>



