@page "/"
@using Wiki.App.Services;
@inject NavigationManager MyNavigationManager

<PageTitle>Wiki - @Page</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-8 pe-4">
            @markupString
        </div>
        <div class="col  ms-4">
            <CharacterCards Characters="characters"></CharacterCards>
        </div>
    </div>  
    @*<div class="row">
    <div class="col">
    <CharacterCards Characters="characters"></CharacterCards>
    </div>
    </div>*@
</div>


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;

    private IEnumerable<Paragraph> paragraphs = new List<Paragraph>();
    private IEnumerable<Character> characters = new List<Character>();

    private Paragraph? currentParagraph = new Paragraph();
    private MarkupString markupString;

    [Inject]
    public IWikiClient wikiClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        paragraphs = await wikiClient.GetParagraphsAsync();
        characters = await wikiClient.GetCharactersAsync();

        if(paragraphs==null || characters == null)
        {
            throw new ArgumentNullException();
        }

        //PageName = MyNavigationManager.ToBaseRelativePath(MyNavigationManager.Uri).Trim('/');

        //GetCurrentParagraph();
    }


    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        GetCurrentParagraph();

    }

    private void GetCurrentParagraph()
    {

        //PageName = MyNavigationManager.ToBaseRelativePath(MyNavigationManager.Uri).Trim('/');
        //var PageQ = MyNavigationManager.GetUriWithQueryParameter("pagename", "Morena Baccarin");
        Page = string.IsNullOrEmpty(Page)
        ? "home"
        : Page;

        //currentParagraph = paragraphs.FirstOrDefault(p => p.Header.ToLower() == PageName.ToLower(), paragraphs.FirstOrDefault())!;
        currentParagraph = paragraphs?.FirstOrDefault(p => p.Header.ToLower() == Page.ToLower());

        if (currentParagraph == null)
            throw new ArgumentNullException(nameof(currentParagraph));

        var html = currentParagraph.Body;
        markupString = (MarkupString)html; // or new MarkupString(html)
    }
}
