@using System.Globalization;
@using Wiki.App.Services;
@inject IWikiClient wikiClient

<table class="table">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in characters)
        {
            <tr>
                <td>
                    <NavLink class="nav-link" href=@($"characterpage/{c.Id}")>@c.Name</NavLink>
                </td>
                <td>
                    @c.Id
                </td>
                <td>
                    @c.Created.ToString("yyyy-MM-dd H:mm:ss")
                </td>
                <td>
                    @(c.Updated == DateTime.MinValue ? "-" : c.Updated.ToString("yyyy-MM-dd H:mm:ss"))
                </td>
                <td class="d-flex justify-content-end">
                    <button @onclick="async () => await Delete(c)" @onclick:stopPropagation="true" class="btn btn-danger">Delete</button>
                    <button @onclick="async () => await OnEditCharacter(c.Id)" class="btn btn-primary ms-2">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Character> characters { get; set; } = new List<Character>();

    [Parameter]
    public EventCallback<int> EditCharacterEvent { get; set; }

    DateTimeFormatInfo myDTFI = new CultureInfo("sv-SE", false).DateTimeFormat;

    public async Task OnEditCharacter(int Id)
    {
        await EditCharacterEvent.InvokeAsync(Id);

    }

    private async Task Delete(Character character)
    {
        if (character is null)
        {
            throw new ArgumentNullException(nameof(character));
        }

        var isRemoved = await wikiClient.RemoveAsync(character.Id);

        if (isRemoved)
        {
            characters.Remove(character);
        }

    }

}
