<h3>Add Character</h3>
<div class="row">
    <div class="col-4">
        <div class="input-group mb-3 col-4">
            <EditForm EditContext="editContext" OnValidSubmit="OnAddCharacter">
                <InputText @bind-Value="character.Name" class="form-control" id="charText" placeholder="Name"></InputText>
                <InputDate @bind-Value="character.Birthday" class="form-control" id="charBday"></InputDate>
                <InputText @bind-Value="character.Status" class="form-control" id="charStatus" placeholder="Status"></InputText>
                <InputTextArea @bind-Value="character.Quote" class="form-control" id="charQuote" placeholder="Quote"></InputTextArea>
                <InputText @bind-Value="character.PortraitUrl" class="form-control" id="charPortraitUrl" placeholder="Portrait Url"></InputText>
                <InputTextArea @bind-Value="character.Text" class="form-control" id="charAbout" placeholder="About text"></InputTextArea>
                <button type="submit" id="addItemBtn" class="btn btn-primary">Add</button>
            </EditForm>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback<Character> AddCharacter { get; set; }

    private Character character = new Character();
    private EditContext editContext = default!;

    protected override void OnInitialized()
    {
        editContext = new EditContext(character);
        character.Birthday = DateTime.Now.AddYears(-20);
    }

    public async Task OnAddCharacter()
    {
        await AddCharacter.InvokeAsync(character);
        
    }
}
