<div class="card h-auto w-auto">
    <img src="@PortraitUrl" class="card-img-top" alt="Picture of Name">
    <div class="card-body border-top-1">
        <h4 class="card-title">Character Name</h4>
        <h5 class="card-title">Basic Info</h5>

        <div class="d-flex justify-content-between align-items-start">
            <h5 class="data-label">Age</h5>
            <div class="data-value">@Age</div>
        </div>

        <div class="d-flex justify-content-between align-items-start">
            <h5 class="data-label">Species</h5>
            <div class="data-value">
            <ul>
                @foreach (var s in Species)
                {
                    <li>@s</li>
                }
            </ul>
            </div>
        </div>

        <h5 class="card-title">Family Info</h5>
        <div class="d-flex justify-content-between align-items-start">
            <h5 class="data-label">Family Members</h5>
            <div class="data-value">
            <ul>
                <li>Hej</li>
                <li>Hej</li>
            </ul>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public string PortraitUrl { get; set; } = string.Empty;

    [Parameter]
    public int Age { get; set; }

    [Parameter]
    public List<string> Species { get; set; } = new List<string>();
    //public BasicInfo BasicInfo { get; set; }

}