<div class="card h-auto w-auto">
    <img src="@PortraitUrl" class="card-img-top" alt="Picture of Name">
    <div class="card-body">
        <h4 class="card-title">Character Name</h4>
        <h5 class="card-title">Basic Info</h5>
        <div class="card-body d-inline-flex">
            <span>Species</span><ul><li>@Species</li><li>Hej</li></ul>
        </div>
        <div class="card-body d-inline-flex">
            <span>Age</span><span>@Age</span>
        </div>
        <h5 class="card-title">Family Info</h5>
        <div class="card-body d-inline-flex">
            <span>Family Members</span><ul><li>Hej</li><li>Hej</li></ul>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string PortraitUrl { get; set; } = string.Empty;

    [Parameter]
    public int Age { get; set; }

    [Parameter]
    public List<string> Species { get; set; } =  new List<string>();
    //public BasicInfo BasicInfo { get; set; }

}