@using Wiki.App.Services;

<h3>CharacterList</h3>
<input type="text" class="input-group-text" />

<table class="table table-light">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in characters)
        {
            <tr>
                <td>
                    @c.Name
                </td>
                <td>
                    @c.Id
                </td>
                <td>
                    @c.Age
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<Character> characters = new List<Character>();
    
    [Inject]
    public IWikiClient mockClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        characters = await mockClient.GetCharactersAsync();
    }

}
