@using Wiki.App.Services;
@inject IWikiClient wikiClient

<h3>CharacterList</h3>
<input type="text" class="input-group-text" />

<table class="table table-light">
    <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in characters)
        {
            <tr>
                <td>
                    <NavLink class="nav-link" href=@($"entity/{c.Id}")>@c.Name</NavLink>
                </td>
                <td>
                    @c.Id
                </td>
                <td>
                    @c.Age
                </td>
                <td>
                    <button @onclick="async () => await Delete(c)" @onclick:stopPropagation="true" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Character> characters { get; set; } = new List<Character>();

    private async Task Delete(Character character)
    {
        if (character is null)
        {
            throw new ArgumentNullException(nameof(character));
        }

        var isRemoved = await wikiClient.RemoveAsync(character.Id);

        if (isRemoved)
        {
            characters.Remove(character);
        }

    }

}
