
<h3>CharacterList</h3>
<input type="text" class="input-group-text" />

<table class="table table-light">
    <thead class="table-primary">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
        </tr>
    </thead>
</table>

@code {

}
