@using Wiki.App.Services;

<h3>CharacterList</h3>
<input type="text" class="input-group-text" />

<table class="table table-light">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in characters)
        {
            <tr>
                <td>
                    <NavLink class="nav-link" href=@($"entity/{c.Id}")>@c.Name</NavLink>
                </td>
                <td>
                    @c.Id
                </td>
                <td>
                    @c.Age
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<Character> characters { get; set; } = new List<Character>();

}
