<figure class="border rounded px-4 pt-3 text-muted">
    <blockquote class="blockquote pb-2">
        <p class="fs-6">@text</p></blockquote>
    <figcaption class="blockquote-footer"><cite title="Source Title">@source</cite></figcaption>
</figure>

@code {
    [Parameter]
    public string text { get; set; } = string.Empty;
    [Parameter]
    public string source { get; set; } = string.Empty;
}