@*<h3>@Header</h3>*@
<p>
    @markupString
</p>

@code{
    [Parameter]
    public string Header { get; set; } = string.Empty;
    [Parameter]
    public string Body { get; set; } = string.Empty;

    public MarkupString markupString { get; set; }

    protected override void OnParametersSet()
    {
        var html = Body;
        markupString = (MarkupString)html; // or new MarkupString(html)
    }
}